In [11]:
# this is just to know how much time will it take to run this entire ipython notebook 
from datetime import datetime
# globalstart = datetime.now()
import pandas as pd
import numpy as np
import matplotlib
matplotlib.use('nbagg')

import matplotlib.pyplot as plt
plt.rcParams.update({'figure.max_open_warning': 0})

import seaborn as sns
sns.set_style('whitegrid')
import os
from scipy import sparse
from scipy.sparse import csr_matrix

from sklearn.decomposition import TruncatedSVD
from sklearn.metrics.pairwise import cosine_similarity
import random

In [4]:
df=pd.read_csv('order_data.csv')

In [5]:
df.tail(1000)

,customer_id,order_id,restaurant_id,ordered_time,pickedup_time,delivered_time,discount_flag,customer_geohash,gmv_total,items,post_status
949457,11126178,279768286,180708,2024-05-20 20:09:08.000,NaN,NaN,0,4nxfejk,0.0,[106176870],Failed
949458,22907246,217309343,250802,2024-05-20 22:47:19.000,2024-05-20 22:53:51.340,2024-05-20 23:10:18.037,0,4nxfvfu,268.0,[105652765],Completed
949459,13370819,207480179,110156,2024-05-20 17:51:43.000,2024-05-20 18:10:57.843,2024-05-20 18:29:04.803,0,4nxfvgw,291.0,[105415145],Completed
949460,11211087,250950698,193347,2024-05-20 19:42:56.000,2024-05-20 20:13:22.204,2024-05-20 20:29:13.214,0,4nxfgf5,381.0,"[107087869, 100163433, 104945560]",Completed
949461,10871052,282454399,124110,2024-05-20 15:09:39.000,2024-05-20 15:39:25.735,2024-05-20 15:45:54.741,0,4nxcg93,129.0,[100584218],Completed
949462,24561499,234269216,342340,2024-05-20 14:31:48.000,2024-05-20 14:43:33.506,2024-05-20 15:03:03.866,0,4nxftsg,104.0,"[103967554, 106922413]",Completed
949463,10505927,281666430,257059,2024-05-20 12:18:52.000,NaN,NaN,0,4nxfujv,0.0,[100836599],Failed
949464,18326295,206429672,186539,2024-05-20 15:41:33.000,2024-05-20 16:01:44.718,2024-05-20 16:14:46.569,0,4nxg7t2,699.0,"[102454406, 100378767, 106287403, 107962066]",Completed
949465,14345912,213814489,174305,2024-05-20 20:41:50.000,2024-05-20 21:08:07.635,2024-05-20 21:14:14.328,0,4nxg73s,548.0,"[103492957, 101826920]",Completed
949466,22508307,257985072,218175,2024-05-20 19:09:45.000,2024-05-20 19:23:55.468,2024-05-20 19:37:21.989,0,4nxfeyz,263.0,[106708524],Completed
949467,17220533,248204642,236317,2024-05-20 12:24:57.000,2024-05-20 12:50:02.364,2024-05-20 12:56:01.497,0,4nxghbp,190.0,"[107647667, 103636377]",Completed
949468,22505967,274387574,331983,2024-05-20 15:37:58.000,2024-05-20 15:51:30.696,2024-05-20 16:04:59.183,1,4nxfsc2,373.0,"[100847558, 103929645, 102136150, 100624130, 1...",Completed
949469,20322994,249011686,292187,2024-05-20 21:27:23.000,2024-05-20 21:44:48.400,2024-05-20 21:55:46.061,1,4nxfvkj,1038.0,"[104893799, 100195049]",Completed
949470,19687334,200034616,244843,2024-05-20 17:30:18.000,NaN,NaN,0,4nxfsjz,0.0,[107559893],Failed
949471,12602033,218923513,194737,2024-05-20 13:05:17.000,2024-05-20 13:27:59.969,2024-05-20 13:43:59.185,0,4nxg5ww,250.0,"[105400505, 103408664]",Completed
949472,17519369,227777445,270643,2024-05-20 20:16:05.000,2024-05-20 20:59:50.055,2024-05-20 21:25:41.610,0,4nxg720,440.0,[102305873],Completed
949473,23625535,257144194,269699,2024-05-20 19:45:40.000,2024-05-20 19:56:29.873,2024-05-20 20:03:58.663,0,4nxfvu3,224.0,[103371485],Completed
949474,10746545,212066217,133883,2024-05-20 17:13:51.000,2024-05-20 17:33:32.923,2024-05-20 17:48:54.273,0,4nxfdxp,420.0,"[104887968, 100234115]",Completed
949475,20147812,302420629,242882,2024-05-20 12:46:57.000,2024-05-20 13:04:17.624,2024-05-20 13:13:51.498,0,4nxg02y,175.0,"[104746484, 105958299]",Completed
949476,11395247,243734578,163202,2024-05-20 22:53:07.000,2024-05-20 23:20:05.862,NaN,0,4nxg72y,484.0,[101286242],Cancelled
949477,20190415,252030528,350119,2024-05-20 13:02:32.000,2024-05-20 13:15:53.533,2024-05-20 13:27:55.053,0,4nxfwcu,661.0,"[106463668, 106256311, 103810295, 103746621]",Completed
949478,15776795,256938895,103747,2024-05-20 14:07:50.000,2024-05-20 14:16:59.661,2024-05-20 14:35:12.837,0,4nxfgcb,134.0,[106060154],Completed
949479,21306480,210694191,345781,2024-05-20 22:33:38.000,2024-05-20 22:48:28.582,2024-05-20 22:53:30.415,1,4nxf3vm,170.0,"[102853600, 102670697]",Completed
949480,15493740,295287992,196600,2024-05-20 20:28:49.000,2024-05-20 20:45:37.534,2024-05-20 20:58:17.833,1,4nxfegm,227.0,[108296684],Completed
949481,24291389,242782233,151703,2024-05-20 14:38:03.000,2024-05-20 15:04:39.066,2024-05-20 15:17:58.848,1,4q842hz,422.0,"[100880153, 101647530, 107991404]",Completed
949482,21646501,230413685,263509,2024-05-20 19:04:34.000,2024-05-20 19:21:27.557,2024-05-20 19:32:21.812,0,4nxfsnc,99.0,[106428770],Completed
949483,23011693,300086787,199781,2024-05-20 12:15:59.000,2024-05-20 12:30:42.810,2024-05-20 12:47:05.388,0,4nxferk,268.0,"[100740996, 104853488]",Completed
949484,19084872,258228521,130874,2024-05-20 12:34:04.000,2024-05-20 14:00:48.611,2024-05-20 14:15:30.979,1,4nxftx9,252.0,[104014413],Completed
949485,20942398,240471341,185445,2024-05-20 13:18:44.000,2024-05-20 13:32:22.491,2024-05-20 13:49:22.703,0,4nxg76y,190.0,"[107264980, 106505317]",Completed
949486,16387811,302691002,242977,2024-05-20 00:40:06.000,2024-05-20 00:51:24.936,2024-05-20 01:00:24.802,0,4nxfv7d,294.0,"[100551496, 101828478]",Completed
...,...,...,...,...,...,...,...,...,...,...,...
950427,12988896,229432882,143198,2024-05-20 13:41:08.000,2024-05-20 14:07:30.854,2024-05-20 14:12:27.067,0,4nxfvgf,877.0,"[106117913, 102352626]",Completed
950428,21005172,295185867,139087,2024-05-20 18:21:48.000,2024-05-20 18:27:36.578,2024-05-20 18:33:56.100,0,4nxfvth,130.0,[101285523],Completed
950429,17880834,273875787,179757,2024-05-20 20:27:54.000,2024-05-20 20:51:24.427,2024-05-20 21:11:53.976,0,4nxf6hh,301.0,"[102771856, 102172910]",Completed
950430,15158966,207150719,344702,2024-05-20 22:21:01.000,2024-05-20 22:43:02.697,2024-05-20 22:54:40.652,0,4nxfvn1,169.0,[106874314],Completed
950431,21201518,210962776,214311,2024-05-20 13:43:56.000,2024-05-20 14:15:25.636,2024-05-20 14:20:15.348,0,4nxg76n,185.0,[101671702],Completed
950432,14560508,228119139,151759,2024-05-20 16:58:28.000,2024-05-20 17:11:56.715,2024-05-20 17:31:02.188,0,4nxfwq8,675.0,[102334573],Completed
950433,12292599,289720090,190815,2024-05-20 18:13:15.000,2024-05-20 18:26:36.932,2024-05-20 18:33:19.100,1,4nxfuuf,240.0,"[106358903, 103139695]",Completed
950434,11381958,223128947,293409,2024-05-20 09:05:07.000,2024-05-20 09:09:48.581,2024-05-20 09:14:51.615,0,4nxfvdr,160.0,"[107035332, 102651334]",Completed
950435,21086895,231505298,274223,2024-05-20 11:09:22.000,2024-05-20 11:19:49.233,2024-05-20 11:31:51.303,0,4nxfx6m,261.0,[106578897],Completed
950436,12419790,238376311,121336,2024-05-20 14:30:49.000,2024-05-20 14:40:17.531,2024-05-20 15:01:28.374,0,4nxfu0x,180.0,[102146632],Completed
950437,17027832,309316305,103256,2024-05-20 14:41:54.000,2024-05-20 15:00:31.897,2024-05-20 15:21:13.102,0,4nxfxdj,531.0,"[101486441, 107029009, 100615437]",Completed
950438,20289357,211088892,178180,2024-05-20 22:37:11.000,2024-05-20 23:03:57.664,2024-05-20 23:14:10.209,0,4nxfrvu,342.0,"[100149953, 101830666]",Completed
950439,24115842,310176523,232022,2024-05-20 19:30:06.000,2024-05-20 19:33:43.949,2024-05-20 19:42:17.387,0,4nxfw4u,303.0,"[107962930, 107962930]",Completed
950440,22480407,255241241,257192,2024-05-20 14:10:05.000,2024-05-20 14:51:59.105,2024-05-20 15:09:10.743,1,4nxfgb5,997.0,"[107570400, 100826404, 104876396, 106550994]",Completed
950441,22645056,270214247,347998,2024-05-20 10:08:21.000,2024-05-20 10:23:45.152,2024-05-20 10:51:42.653,0,4nxftsu,120.0,[105276218],Completed
950442,19849605,223693811,337048,2024-05-20 16:43:12.000,2024-05-20 16:51:17.592,2024-05-20 17:03:22.717,0,4q842hk,220.0,"[102695584, 106081275, 106832485]",Completed
950443,14501478,287800200,219429,2024-05-20 22:16:38.000,2024-05-20 22:37:57.587,2024-05-20 22:51:27.671,1,4nxfvsz,498.0,[105533624],Completed
950444,22696377,265902753,137100,2024-05-20 22:50:21.000,NaN,NaN,1,4nxfuv2,0.0,[102958148],Failed
950445,12453025,243993563,322687,2024-05-20 12:05:39.000,2024-05-20 12:47:53.244,2024-05-20 12:59:43.230,0,4q842kf,201.0,[100577484],Completed
950446,24542109,239348097,182920,2024-05-20 12:54:11.000,2024-05-20 13:09:07.033,2024-05-20 13:22:53.203,0,4nxfves,202.0,[101295043],Completed
950447,17687504,223661468,247657,2024-05-20 13:21:48.000,2024-05-20 13:59:32.934,2024-05-20 14:17:30.822,0,4nxfvmm,560.0,"[106468321, 104791603, 108004131, 106911813]",Completed
950448,19255360,284022542,312794,2024-05-20 20:05:34.000,2024-05-20 20:14:52.566,2024-05-20 20:31:32.101,0,4nxfkuy,258.0,[101890158],Completed
950449,19330180,236986011,107528,2024-05-20 15:03:44.000,2024-05-20 15:19:16.265,2024-05-20 15:22:20.930,0,4nxfutr,198.0,"[102386531, 107230883]",Completed
950450,19134557,305723444,128104,2024-05-20 21:28:52.000,2024-05-20 21:40:38.708,2024-05-20 21:48:10.678,1,4nxfvsd,440.0,"[104429954, 106631904]",Completed
950451,17954373,274637732,106014,2024-05-20 20:31:45.000,2024-05-20 20:43:22.416,2024-05-20 20:49:53.858,0,4nxft0m,260.0,[105234410],Completed
950452,16287334,256744804,342340,2024-05-20 20:43:13.000,2024-05-20 20:58:51.474,2024-05-20 21:11:08.679,0,4nxftsy,125.0,[100197641],Completed
950453,10966643,238548951,105206,2024-05-20 20:31:38.000,2024-05-20 20:52:33.166,2024-05-20 21:16:57.189,0,4nxfezg,212.0,[105395172],Completed
950454,23165854,213488023,199217,2024-05-20 21:46:53.000,2024-05-20 22:09:00.954,2024-05-20 22:18:04.633,0,4nxftkw,150.0,"[105265584, 102821025]",Completed
950455,11880925,303078951,249542,2024-05-20 16:28:04.000,2024-05-20 16:54:04.839,2024-05-20 17:20:55.057,1,4nxfgb9,458.0,[106049461],Completed
950456,15014222,210219542,213263,2024-05-20 11:16:29.000,2024-05-20 11:28:01.121,2024-05-20 11:36:49.818,0,4nxfez9,304.0,"[108008690, 102171272, 101912116]",Completed

In [6]:
df.shape

(950457, 11)

In [7]:
df['items']=df['items'].str.replace('[', '')
df['items']=df['items'].str.replace(']', '')
df['items']=df['items'].str.replace(',', ' ')

df_train=df.iloc[:int(df.shape[0]*0.80)]
df_test=df.iloc[int(df.shape[0]*0.80):]

In [9]:

df_train=pd.concat([pd.Series(row['customer_id'], row['items'].split())              
                    for _, row in df_train.iterrows()]).reset_index()

df_train.columns=['item','user']
df_train=df_train.sort_values(by='user')
df_train.to_csv('train.csv',index=False)

In [22]:
print("Training data ")
print("-"*50)
print("Total no of orders :",df_train.shape[0])
print("Total No of unique users   :"+str(len(np.unique(df_train.user))))
print("Total No of unique items  :"+str(len(np.unique(df_train.item))))

Training data
--------------------------------------------------
('Total no of orders :', 1546906)
Total No of unique users   :154117
Total No of unique items  :147528

In [24]:

df_test=pd.concat([pd.Series(row['customer_id'], row['items'].split())              
                    for _, row in df_test.iterrows()]).reset_index()

df_test.columns=['item','user']
df_test=df_test.sort_values(by='user')
df_test.to_csv('test.csv',index=False)

In [25]:
print("Test data ")
print("-"*50)
print("Total no of orders :",df_train.shape[0])
print("Total No of unique users   :"+str(len(np.unique(df_test.user))))
print("Total No of unique items  :"+str(len(np.unique(df_test.item))))

Test data
--------------------------------------------------
('Total no of orders :', 1546906)
Total No of unique users   :78226
Total No of unique items  :84087

In [112]:


df_full=pd.concat([pd.Series(row['customer_id'], row['items'].split())              
                    for _, row in df.iterrows()]).reset_index()

df_full.columns=['item','user']
df_full=df_full.sort_values(by='user')
df_full.to_csv('full.csv',index=False)

In [111]:
#coldstart

In [18]:
import numpy as np
total_users = len(np.unique(df.customer_id))
users_train = len(np.unique(df_train.customer_id))
new_users = total_users - users_train

print('\nTotal number of Users  :', total_users)
print('\nNumber of Users in Train data :', users_train)
print("\nNo of Users that didn't appear in train data: {}({} %) \n ".format(new_users,
                                                                        np.round((new_users/total_users)*100, 2)))

('\nTotal number of Users  :', 52911)
('\nNumber of Users in Train data :', 45682)

No of Users that didn't appear in train data: 7229(0 %)

In [29]:
#reading item dict

df2=pd.read_csv('items_metadata.csv')

df2.head()
print df2.shape
df2.head()

(168636, 4)

     item_id  dish_family                      category       cuisine
0  102927323          pav              snacks - evening  north indian
1  102250682  soft drinks  beverage - branded cola/cold        others
2  103846009    breakfast                snacks- others  north indian
3  105415872         dips                         sides        others
4  100610198       combos                        combos   continental